body{
  padding:20px;
  font-family:sans-serif;
}
#pageTitle{
  text-align:center;
}
#links{
  margin:40px auto;
  max-width:700px;
}
#links > a{
  display:block;
  text-align:center;
  border:1px solid #000000;
  padding:10px;
  text-decoration:none;
  background:#ff0000;
  color:#000000;
}

#links > a:hover{
  background:#ffffff;
  color:#000000;
}